
{% extends 'base.html' %}
{% load static %}
{% block content %}

	
	<section class="banner-area relative" id="home">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class=" text-white text-uppercase">
						Connect
					</h1>
					<p class=" link-nav"><a href="index.html">Home --></a> <a href="connect.html">
							Connect</a></p>
				</div>
			</div>
		</div>
	</section>

	<div class=" text-center"><br><br>
              <h4>OUR GLOBAL COMMUNITY</h4>
			 <p> We work with some pretty awesome people at some pretty amazing organizations from all corners
			   of the world. Building respectfully and collaboratively with others is in our DNA.</p><br><br>
			   <h4>EXPLORE PARTNERSHIP</h4>
			   <p> We are open to discovery meetings to discuss shared priorities and opportunities 
				for mutual benefit and growth.</p></div><br><br><br><br>

				{% endblock %} 
